body{
  margin: 0;
  padding: 0;
}
form{
  display: block !important;
}

.icon_title{
  margin-left: 1vw;
  font-size: x-large;
  font-weight: bold;
}


.home_body{
  text-align: center;
  min-height: 85vh;
  padding: 12px 0rem;
  background-color: #0c192c;
  box-sizing: border-box;
  color: white;
}
.home_body img{
  width:37%
}
.home_body .country_box{
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home_body .country_box .bubbles{
  position: absolute;
  display: flex;
  height: 90vh;
  width: 96vw;
  overflow: hidden;
}
.home_body .country_box .bubbles span{
  position: relative;
  width: 30px;
  height: 30px;
  background-color: #4fc3dc;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #4fc3dc44,
  0 0 50px #4fc3dc,
  0 0 100px  #4fc3dc;
  animation: animate 15s linear infinite;
  animation-duration: calc(125s / var(--num));
}
.home_body .country_box .bubbles span:nth-child(even){
  background-color: #ff2d75;
  box-shadow: 0 0 0 10px #ff2d7544,
  0 0 50px #ff2d75,
  0 0 100px  #ff2d75;
}
@keyframes animate {
  0%{
    transform: translateY(85vh) scale(0);
  }
  100%{
    transform: translateY(10vh) scale(1);
  }
}

.home_body .country_box .form_box{
  z-index: 11;
}
.home_body .country_box .form_box input[type="text"]{
  padding: 12px 16px;
  font-size: 16px;
  margin: 0;
  vertical-align: top;
  outline: 0;
  box-shadow: none;
  border-radius: 10px 0 0 10px;
  border: 2px solid #c4c7ce;
  background: #fff;
  color: #222;
  overflow: hidden;
  box-sizing: content-box;
  -webkit-tap-highlight-color: transparent;
  width: 50vw;
}
.home_body .country_box .form_box button{
  cursor: pointer;
  width: 108px;
  height: 44px;
  line-height: 45px;
  line-height: 44px\9;
  padding: 0;
  background: 0 0;
  background-color: #4e6ef2;
  border-radius: 0 10px 10px 0;
  font-size: 17px;
  color: #fff;
  box-shadow: none;
  font-weight: 400;
  border: none;
  outline: 0;
}

.home_body .country_box .row{
  z-index: 11;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0rem;
}
.home_body .country_box .row .cloumn{
  background: #5d605f40;
  border-radius: 1rem;
  width: 40vw;
  margin-bottom: 1rem;
  padding: 1rem;
}
.home_body .country_box .row .cloumn  .content_box{
  display: flex;
}
.home_body .country_box .row .cloumn  .content_box .img_box{
  width: 20%;
  margin-left: 4%;
}
.home_body .country_box .row .cloumn  .content_box .img_box img{
  width: 100%;
}

.home_body .country_box .row .cloumn .messsage_box{
  text-align: left;
  width: 79%;
}
.home_body .country_box .row .cloumn .messsage_box .messsage_item{
  margin-bottom: 1rem;
}
.home_body .country_box .row .cloumn .messsage_box .messsage_item .title{
  width: 20%;
  display: inline-block;
  font-weight: bold;
  vertical-align: top;
}
.home_body .country_box .row .cloumn .messsage_box .messsage_item .content{
  width: 80%;
  display: inline-block;
}
.footer_box{
  text-align: center;
  background-color: aliceblue;
  padding: 10px;
  box-sizing: border-box;
  font-size: smaller;
  z-index: 11;
}
@media screen and (max-width:500px) {
  .home_body .country_box .bubbles span{
    margin: 0 -10px;
  }
  .head_box{
    display: none;
  }
  .home_body .country_box .row .cloumn .content_box{
    display: block;
  }
  .home_body .country_box .row .cloumn .messsage_box .messsage_item .title{
    width: 100%;
  }
  .home_body .country_box .row .cloumn .messsage_box .messsage_item .content{
    width: 100%;
    display: inline-block;
    text-indent: 10px;
  }
  .home_body .country_box .row .cloumn{
    width: 73vw;
  }
  .home_body .country_box .row .cloumn .content_box .img_box{
    width: 89%;
    margin: 4%;
    text-align: center;
  }
  .home_body .country_box .row .cloumn .content_box .img_box img{
    width: 95%;
  }
  .home_body .country_box .row .cloumn .messsage_box{
    width: 100%;
  }
}
.head_box{
  z-index: 11;
}